.main-header
  %h3.main-header__group
    test-group
  %p.main-header__member
    Member: test
  .main-header__right
    = link_to "Edit", '',class: "main-header__right__btn"
.main-display
  .main-display__username
    test-user
    .main-display__username__date
      2019/10/05(Sat)00:00:00
  .main-display__comment
    こんにちは
  .main-display__username-2
    test-user2
    .main-display__username-2__date-2
      2019/10/06(Sun)00:00:00
  .main-display__comment-2
    こんばんは

.chat-box
  .chat-box__form
    %input{type:"text", class:"chat-box__form__input", placeholder:"type a message"}
      %label.upload-label{for: "upload-icon", class: "chat-box__form__input__img"}
        %i.fa.fa-picture-o
      -# %label{class:"chat-box__form__input__img"}
      -#   = fa_icon 'picture-o', class: "icon"

    %input{type:"Submit", class:"chat-box__form__submit", value:"Send"}
