.sidebar
  .sidebar__header
    .sidebar__header__username
      test-user
    %ul.sidebar__header__right
      %li.sidebar__header__right__group
        = fa_icon "cog", class: "cog"
      %li.sidebar__header__right__account
        = fa_icon "edit", class:"icon"

  .sidebar__main
    %p.sidebar__main__test
      test
    %p.sidebar__main__bye
      さようなら
    %p.sidebar__main__test1
      sample-group
      %br
      hello!
    %p.sidebar__main__test2
      example
      %br
      まだメッセージがありません


