.chat-box{
  background-color: #ddd;
  height: 90px;
  padding: 20px 40px;
  box-sizing: border-box;
  position: relative;
  &__form{
    display: flex;
    &__input{
      height: 50px;
      width: 100%;
      padding: 0 40px 0 10px;
      border-style: none;
      &__img{
        position: absolute;
        top: 30px;
        right: 165px;
        font-size: 1.3rem;
        cursor: pointer;
        .hidden{
          display: none;
        }
      }

    }
    &__submit{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
    .chat-box__form__in{
      display: flex;
    }

    .new_message{
      width: 100%;
    }
}