@import "reset";
@import "variable";
@import "sidebar";
@import "main-header";
@import "chat-box";
@import "font-awesome";
@import "user";
@import "flash";
@import "group";
@import "main-display";

.top-header{
  width: 100%;
  text-align: center;
  background-color:$light_blue;
  color: $white;
}

.container{
  display: flex;
  .main{
    width:(calc(100vw - 300px));

  }
}

